@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');

:root {
  --main-blue: #0D71A6; 
  --main-green: #50C9A1;
  --main-white: #FFFFFF;
  --main-font-family: 'Ropa Sans', sans-serif;
}

#container {
  margin: 0 auto;
  width: 100%;
}

h3 {
  color: var(--main-blue);
  font-family: var(--main-font-family);
}

.loader-container{
  text-align: center;
}

.carousel {
  padding: 10px;
  overflow: hidden;
  max-width: 100%;
}

/* Start - Desktops Images */
.image-container {
  padding: 10px;
}

.image-matrix {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.image-slide-container {
  height: 300px;
  width: 300px;
  padding: 5px 10px;
}

.image-slide-container > img {
  height: auto;
  width: 250px;
}

.image-title {
  padding: 5px 0;
  font-size: 18px;
  text-align: center;
  color: var(--main-blue);
  font-family: var(--main-font-family);
}

/* Buttons */
.button-container {
  text-align: center;
  padding: 10px;
}

.button-class {
  width: 70px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: var(--main-white);
  margin: 2px;
  background: var(--main-blue);
  border: 1px solid var(--main-blue);
  font-family: var(--main-font-family);
  cursor: pointer;
}

.button-class:focus {
  outline: none;
}

.button-class.prev-button {
  border-radius: 8px 0 0 8px;
}

.button-class.next-button {
  border-radius: 0 8px 8px 0;
}

/* End - Desktops Images */

/* Start - Mobile Images */
.mobile-carousel {
  position: relative;
}

.image-slide {
	height: 100%;
	width: 100%;
}

.slide-arrow {
	color: #14B6D4;
	cursor: pointer;
	font-size: 2rem;
	position: absolute;
  top: 35%;
  background-color: #fff;
  opacity: 0.6;
  height: 90px;
  width: 45px;
}

.slide-arrow.next-icon {
  right: 0;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}

.slide-arrow.prev-icon {
  left: 0;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
}

.slide-arrow.next-icon > img {
  position: absolute;
  height: 52px;
  top: 22%;
  right: 0;
}

.slide-arrow.prev-icon > img {
  transform: rotate(180deg);
  position: absolute;
  height: 52px;
  top: 22%;
  left: 0;
}
